<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>Создать пользователя</h2>
    <form action="#"
          th:action="@{/user/create}"
          th:object="${user}"
          method="post">
        Введите логин: <input type="text" th:field="*{userName}"/>
        <ul>
            <li th:each="err : ${#fields.errors('userName')}" th:text="${err}" class="error"/>
        </ul>
        Введите почту: <input type="email" th:field="*{email}"/>
        <ul>
            <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error"/>
        </ul>
        Введите пароль: <input type="password" th:field="*{password}"/>
        <ul>
            <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error"/>
        </ul>
        <input class="btn btn-success" type="submit" value="Создать">
        <a class="btn btn-primary" href="/user/">Назад</a>
    </form>
</div>
</body>
</html>