<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
  <h2>Список пользователей:</h2>

  <table class="table" border="1">
      <th>id</th>
      <th>username</th>
      <th>email</th>
      <th>todos</th>
      <th>del</th>
      <th>upd</th>
      <tr th:each="user: ${users}">
          <td th:text="${user.id}" />
          <td th:text="${user.userName}" />
          <td th:text="${user.email}" />
          <td><a th:href="@{/user/{id}/task(id=${user.id})}">Задачи</a></td>
          <td><a th:href="@{/user/{id}/delete(id=${user.id})}">Удалить</a></td>
          <td><a th:href="@{/user/{id}/update(id=${user.id})}">Редактировать</a></td>
      </tr>
  </table>
  <p><a class="btn btn-success" href="/user/create">Создать пользователя</a></p>
  <p><a class="btn btn-primary" href="/">Назад</a></p>
</div>
</body>
</html>