<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
    <h2>Список задач</h2>

<table class="table" border="1">
    <th>id</th>
    <th>title</th>
    <th>complete</th>
    <th>del</th>
    <th>upd</th>
    <th>complete</th>
    <tr th:each="task: ${tasks}">
        <td th:text="${task.id}" />
        <td th:text="${task.title}" />
        <td th:text="${task.complete}" />
        <td><a th:href="@{/user/{uid}/task/{id}/delete(id=${task.id}, uid=${user.id})}">Удалить</a></td>
        <td><a th:href="@{/user/{uid}/task/{id}/update(id=${task.id}, uid=${user.id})}">Редактировать</a></td>
        <td><a th:href="@{/user/{uid}/task/{id}/complete(id=${task.id}, uid=${user.id})}">Завершить</a></td>

    </tr>
</table>

<p><a class="btn btn-success" th:href="@{/user/{id}/task/create(id=${user.id})}">Создать задачу</a></p>
<p><a class="btn btn-primary" href="/user/">Назад</a></p>
</div>

</body>
</html>