<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
id: <p th:text="${user.id}"/>
<form action="#"
      th:action="@{/user/{id}/update(id=${user.id})}"
      th:object="${user}"
      method="post">
  Name: <input type="text" th:field="*{userName}" th:value="${user.userName}"/>
  Email: <input type="text" th:field="*{email}" th:value="${user.email}"/>
  <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
  <input type="submit" value="submit">
</form>
<a href="/user/">back</a>
</body>
</html>