<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>Создание задачи</h2>
    <p>Введи описание задачи</p>
    <form action="#"
          th:action="@{create}"
          th:object="${task}"
          method="post">
        <input type="text" th:field="*{title}"/>
        <ul>
            <li th:each="err : ${#fields.errors('title')}" th:text="${err}" class="error"/>
        </ul>
        <input class="btn btn-success" type="submit" value="Создать">
        <a class="btn btn-primary" href="/user/">Назад</a>
    </form>
</div>
</body>
</html>