<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style="text-align: center; margin-top: 250px;">
    <form action="#"
          th:action="@{/user/{id}/task/{tid}/update(id=${user.id}, tid=${task.id})}"
          th:object="${task}"
          method="post">
        Title: <input type="text" th:field="*{title}"/>
        <input type="hidden" th:field="*{id}" th:value="${task.id}"/>
        <input type="hidden" th:field="*{complete}" th:value="${task.complete}"/>
        <input type="hidden" th:field="*{user}" th:value="${task.user}"/>
        <input class="btn btn-success" type="submit" value="submit">
        <a class="btn btn-primary" th:href="@{/user/{uid}/task(uid=${user.id})}">back</a>
    </form>
</div>
</body>
</html>